<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.browser.dao.mapper.TblContractStorageMapper" >
  <resultMap id="BaseResultMap" type="com.browser.dao.entity.TblContractStorage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contract_id, `name`,  `type `
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_contract_storage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_contract_storage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.browser.dao.entity.TblContractStorage" >
    insert into tbl_contract_storage (id, contract_id,  `name `,
      type)
    values (#{id,jdbcType=INTEGER}, #{contractId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into tbl_contract_storage (id, contract_id, `name`,
    `type`)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.contractId,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
      #{item.type,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.browser.dao.entity.TblContractStorage" >
    insert into tbl_contract_storage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="name != null" >
        `name `,
      </if>
      <if test="type != null" >
        `type `,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.browser.dao.entity.TblContractStorage" >
    update tbl_contract_storage
    <set >
      <if test="contractId != null" >
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.browser.dao.entity.TblContractStorage" >
    update tbl_contract_storage
    set contract_id = #{contractId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByBlockNum" parameterType="java.lang.Long" >
    delete from tbl_contract_storage
    where block_num = #{blockNum,jdbcType=BIGINT}
  </delete>
</mapper>