<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="expires" content="-1"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <title>CDC-区块链浏览器</title>

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/mainpage.css" />
</head>
<body class="container">
<div class="commonhead">
    <div class="commonheadtitle">
        <div class="commonheadlogo">
            <img src="img/logo.png"/>
        </div>
        <a href="/">
            <div class="zhuye">
                <strong>首页</strong>
            </div>
        </a>
        <a href="/contract"><div class="zhuye"><strong>合约</strong></div></a>
    </div>
</div>
<div class="commonmain">
    <div class="contentmain">
        <div class="tradeidtable" style="padding-left:15%;height:60px;">
            <table width="100%">
                <tr style="line-height: 50px;">
                    <td width="5%" class="ywzt">交易ID:</td>
                    <td width="30%" id="contractId" class="boldtr" th:text="${trx.trxId}"></td>
                    <td width="65%"></td>
                </tr>
            </table>
        </div>
        <div class="tradedetailtable">
            <table width="100%">
                <thead>
                <tr class="theadbg" style="height:43px;background-color: #000000;">
                    <th class="text-white" style="font-family: 'SimHei'; float: left; padding-top: 12px;">交易信息</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="10%"><h3>发起方</h3></td>
                    <td width="40%" th:text="${trx.fromAccount}"></td>
                    <td width="10%"><h3>接收方</h3></td>
                    <td width="40%" th:text="${trx.toAccount}"></td>
                </tr>
                <tr class="trbg">
                    <td><h3>区块高度</h3></td>
                    <td><a th:href="@{blockNum.do(blockNum=${trx.blockNum})}" th:text="${trx.blockNum}"></a></td>
                    <td><h3>合约ID</h3></td>
                    <td th:text="${trx.contractId}"></td>
                </tr>
                <tr>
                    <td><h3>交易金额</h3></td>
                    <td><span th:text="${trx.amountStr}"></span></td>
                    <td><h3>交易类型</h3></td>
                    <td th:text="${trx.trxTypeStr}"></td>
                </tr>
                <tr class="trbg">
                    <td><h3>手续费</h3></td>
                    <td><span th:text="${trx.feeStr}"></span></td>
                    <td><h3>备注</h3></td>
                    <td th:text="${trx.memo}"></td>
                </tr>
                <tr>
                    <td><h3>函数</h3></td>
                    <td><span th:text="${trx.calledAbi}"></span></td>
                    <td><h3>合约调用参数</h3></td>
                    <td th:text="${trx.abiParams}"></td>
                </tr>
                <tr class="trbg">
                    <!--<td><h3 style="color: #2E8B57;">交易结果</h3></td>
                    <td th:switch="${trx.isCompleted}">
                        <p th:case="0">已完成</p>
                        <p th:case="1">未完成</p>
                    </td>-->
                    <td><h3>确认时间</h3></td>
                    <td th:text="${trx.trxTimeStr}"></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="txtra" th:if="${not #lists.isEmpty(trx.transactionExList)}">
            <div style="width: 100%; margin-top: 30px;margin-left: 15%">
                <strong>交易列表：</strong>
            </div>
            <div class="tradedetailtable">
                <table width="100%">
                    <thead>
                    <tr class="mainpagetheadbg" style="background-color: #000000">
                        <th class="text-white" width="30%">发起方</th>
                        <th class="text-white" width="30%">接收方</th>
                        <th class="text-white" width="30%">交易金额</th>
                    </tr>
                    </thead>
                    <tbody id="transactions" th:each="summary:${trx.transactionExList}">
                    <tr>
                        <td width="30%" th:text="${summary.fromAddr}"></td>
                        <td width="30%" th:text="${summary.toAddr}"></td>
                        <td width="30%"><span th:text="${summary.amountStr}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="page" class="page_div"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="ui/amaze/js/jquery.min.js"></script>
<script type="text/javascript" src="js/paging.js"></script>
</body>
</html>