<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>CDC-区块链浏览器</title>
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" href="css/common.css?v1.3" />
    <link rel="stylesheet" href="css/mainpage.css" />

    <script type="text/javascript" src="ui/amaze/js/jquery.min.js"></script>
    <script type="text/javascript" src="js/paging.js"></script>
    <script type="text/javascript" src="js/transactionList.js"></script>
</head>
<body class="container">
<div class="commonhead">
    <div class="commonheadtitle">
        <div class="commonheadlogo">
            <img src="img/logo.png"/>
        </div>
        <a href="/"><div class="zhuye noactive">首页</div></a>
        <a href="/contract"><div class="zhuye noactive">合约</div></a>
        <div class="zhongwen"></div>
    </div>
</div>
<div class="commonmain-block">
    <div class="contentmain">

        <div style="width: 100%; margin-top: 30px;margin-left:10%;padding-bottom:10px;">
            <p>地址：<span th:text="${address}"></span></p>
            <p>余额：<span th:text="${balance}"></span></p>
        </div>
        <div style="width: 100%;margin-left:10%;padding-bottom:10px;">
            <p><strong >交易列表：</strong> </p>
        </div>
        <div class="tradedetailtable">
            <table width="100%">
                <thead>
                <tr class="mainpagetheadbg">
                    <th width="30%">交易id</th>
                    <th width="30%">来源地址</th>
                    <th width="30%">目标地址</th>
                    <th width="10%">金额</th>
                </tr>
                </thead>
                <tbody id="transactions">
                </tbody>
            </table>
        </div>
        <div id="page" class="page_div"></div>
    </div>
</div>

<div style="display: none" th:text="${address}" id="address"></div>
</body>
</html>
