<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui ">
		<meta name="format-detection" content="telephone=no"/>
		<meta http-equiv="expires" content="-1"/>
		<meta http-equiv="pragma" content="no-cache"/>
		<meta http-equiv="cache-control" content="no-cache"/>
		<title>GDW-区块链浏览器</title>
        <link rel="shortcut icon" href="favicon.png" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body class="container">
		<div class="commonhead">
			<div class="commonheadtitle">
				<div class="commonheadlogo">
					<img src="img/logo2.png"/>
				</div>
				<a href="/"><div class="zhuye noactive">首页</div></a>
				<a href="/contract"><div class="zhuye noactive">合约</div></a>
				<div class="zhongwen"></div>
			</div>
		</div>
		<div class="commonmain">
			<div class="contentmain">
<!-- 				<div style="height: 50px; width: 100%;padding-left:10%">
					<div class="tradedetail"><span style="font-size: 130%; font-weight: bold;">区块 #</span><span id="blockNum" style="font-size: 130%; font-weight: bold;" th:text=""></span></div>
				</div> -->
<!-- 				<div class="tradeidtable">

				</div> -->
				<div class="tradedetailtable">
                    <div class="box_q">
                        <p class="ywzt">区块 #<span  class="boldtr" id="blockNum" th:text="${block.blockNum}"></span></p>
                        <p class="ywzt">区块哈希:<span  class="boldtr" id="id" th:text="${block.blockId}"></span></p>
                    </div>

					<table width="100%">
						<thead>
							<tr class="theadbg mainpagetheadbg">
      							<th>区块信息概览</th>
    							<th></th>
    							<th></th>
    							<th></th> 	
							</tr>
						</thead>
						<tbody>
							<tr>
								<td width="10%"><h3>交易个数</h3></td>
								<td width="40%" id="transCount" th:text="${block.trxNum}"></td>
								<td width="10%"><h3>大小</h3></td>
								<td width="40%" id="blockSize" th:text="${block.blockSize}"></td>
							</tr>
							<tr class="trbg">
								<td><h3>交易额</h3></td>
								<td id="amount"><span  th:text="${block.amountStr}" ></span></td>
								<td><h3>出块代理</h3></td>
								<td id="signee" th:text="${block.signee}"></td>
							</tr>
							<tr>
								<td><h3>手续费</h3></td>
								<td id="fee"><span th:text="${block.feeStr}"></span></td>
								<td style="width:15%"><h3>上一个区块ID</h3></td>
								<td id="preId"><a th:href="@{block.do(blockId=${block.previous})}" th:text="${block.previous}"></a></td>
							</tr>
							<tr class="trbg">
								<td><h3>出块时间</h3></td>
								<td id="timestamp" th:text="${block.blockTimeStr}"></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
                    <div style=" width: 100%; padding: 20px 0 20px 20px;" th:if="${not #lists.isEmpty(trx)}">
                        <div class="tradedetail2 ywzt">交易记录</div>    
                    </div>
                    <table width="100%">
                        <tbody id="transactions" th:each="summary:${trx}">
                                <tr class="trbg">
                                    <td width="40%">id:<a th:href="@{detail.do(trxId=${summary.trxId})}" th:text="${summary.trxId}"></a></td>
                                    <td width="5%"></td>
                                    <td width="40%"></td>
                                    <td width="15%" th:text="${summary.trxTimeStr}"></td>
                                </tr>
                                <tr>
                                    <td>From:<span th:text="${summary.fromAccount}"></span></td>
                                    <td><img src="img/arrow.png"  alt="arrow"/></td>
                                    <td>To:<span th:text="${summary.toAccount}"></span></td>
                                    <td><h3>交易金额：<span th:text="${summary.amountStr}"></span></h3></td>
                                </tr>
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
<!--底部-->
<div class="footer">
    <div class="content">
    <div class="row" style="    padding: 2.5em 0;">
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="col-md-4 col-xs-6"><img src="img/cn.png" alt="" /><a href="https://t.me/GDW2018" target="_blank">中文电报群</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/Twitter.png" alt="" /><a href="https://twitter.com/goldenworld2018" target="_blank">Twitter</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/ghihub.png" alt="" /><a href="https://github.com/GDW2018" target="_blank">Github</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/en.png" alt="" /><a href="https://t.me/GoldenWorld2018" target="_blank">英文电报群</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/Facebook.png" alt="" /><a href="https://www.facebook.com/goldenworld2018" target="_blank">Facebook</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/xing.png" alt="" /><a href="https://t.zsxq.com/QBE6U7Q" target="_blank">知识星球</a></div>
            </div>

        </div>
        <div class="col-md-6 col-xs-12">
            <ul>
                <li><img src="img/kf.png" alt="" /><span>GDW官方客服微信</span></li>
                <li><img src="img/gz.png" alt="" /><span>GDW官方微信公众号</span></li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>

        <div class="clear"></div> 
        <p>版權©2018  GOLDEN WORLD FOUNDATIONA，版權所有</p>
    </div>
</div>
		<script type="text/javascript" src="ui/amaze/js/jquery.min.js"></script>
		
	</body>
</html>