<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="expires" content="-1"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <title>GDW-区块链浏览器</title>

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body class="container">
<div class="commonhead">
    <div class="commonheadtitle">
        <div class="commonheadlogo">
            <img src="img/logo2.png"/>
        </div>
        <a href="/"><div class="zhuye noactive">首页</div></a>
        <a href="/contract"><div class="zhuye noactive">合约</div></a>
        <div class="zhongwen"></div>
    </div>
</div>
<div class="commonmain">
    <div class="contentmain">
<!--         <div class="tradeidtable" style="padding-left:5%;height:60px;">
            <table width="100%">
                <tr style="line-height: 50px;">
                    <td width="5%" class="ywzt">合约ID:</td>
                    <td width="30%" id="contractId" class="boldtr" th:text="${contractInfo.contractId}">cXTpaoH5hWatNuaK2PGAksTKr3tgyx76dZ</td>
                    <td width="65%"></td>
                </tr>
            </table>
        </div> -->
        <div class="tradedetailtable">
             <table width="100%">
                <tr style="line-height: 50px;">
                    <td width="10%" class="ywzt">合约ID</td>
                    <td width="90%" id="contractId" class="boldtr" th:text="${contractInfo.contractId}">cXTpaoH5hWatNuaK2PGAksTKr3tgyx76dZ</td>
                </tr>
            </table>
            <table width="100%">
                <thead>
                <tr class="theadbg mainpagetheadbg">
                    <th>合约信息概览</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="11%">合约名称</td>
                    <td width="39%" th:text="${contractInfo.name}"></td>
                    <td width="10%">合约状态</td>
                    <td width="40%" th:text="${contractInfo.statusStr}"></td>
                </tr>
                <tr class="trbg">
                    <td>合约所有者</td>
                    <td th:text="${contractInfo.ownerAddress}"></td>
                    <td>合约余额</td>
                    <td><span th:text="${contractInfo.balanceStr}"></span></td>
                </tr>
                <tr>
                    <td>字节码hash</td>
                    <td><span th:text="${contractInfo.hash}"></span></td>
                    <td style="width:15%">合约描述</td>
                    <td th:text="${contractInfo.description}"></td>
                </tr>
                <tr class="trbg">
                    <td>合约ID</td>
                    <td th:text="${contractInfo.contractId}"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>函数</td>
                    <td>
                        <div th:each="summary:${contractInfo.abiList}">
                           <p  th:text="${summary.abiName}" ></p>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trbg">
                    <td>注册时间</td>
                    <td th:text="${contractInfo.regTimeStr}"></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tradedetailtable">
            <table width="100%">
                <tr style="line-height: 50px;">
                    <td width="10%" class="ywzt">交易列表</td>
                </tr>
            </table>
            <table width="100%">
                <thead>
                <tr class="mainpagetheadbg">
                    <th width="40%">交易id</th>
                    <th width="20%">交易类型</th>
                    <th width="20%">交易金额</th>
                    <th width="20%">时间</th>
                </tr>
                </thead>
                <tbody id="transactions"></tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="content">
    <div class="row" style="    padding: 2.5em 0;">
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="col-md-4 col-xs-6"><img src="img/cn.png" alt="" /><a href="https://t.me/GDW2018" target="_blank">中文电报群</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/Twitter.png" alt="" /><a href="https://twitter.com/goldenworld2018" target="_blank">Twitter</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/ghihub.png" alt="" /><a href="https://github.com/GDW2018" target="_blank">Github</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/en.png" alt="" /><a href="https://t.me/GoldenWorld2018" target="_blank">英文电报群</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/Facebook.png" alt="" /><a href="https://www.facebook.com/goldenworld2018" target="_blank">Facebook</a></div>
                <div class="col-md-4 col-xs-6"><img src="img/xing.png" alt="" /><a href="https://t.zsxq.com/QBE6U7Q" target="_blank">知识星球</a></div>
            </div>

        </div>
        <div class="col-md-6 col-xs-12">
            <ul>
                <li><img src="img/kf.png" alt="" /><span>GDW官方客服微信</span></li>
                <li><img src="img/gz.png" alt="" /><span>GDW官方微信公众号</span></li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>

        <div class="clear"></div> 
        <p>版權©2018  GOLDEN WORLD FOUNDATIONA，版權所有</p>
    </div>
</div>
<script type="text/javascript" src="ui/amaze/js/jquery.min.js"></script>
<script type="text/javascript" src="js/paging.js"></script>
<script type="text/javascript" src="js/contractDetail.js"></script>
</body>
</html>